<a href="https://colab.research.google.com/github/jumbokh/python_learn/blob/master/notebooks/permcomb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n=5
k=2

In [3]:
from itertools import permutations

In [4]:
print(list(permutations("ABCD",2)))

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'A'), ('B', 'C'), ('B', 'D'), ('C', 'A'), ('C', 'B'), ('C', 'D'), ('D', 'A'), ('D', 'B'), ('D', 'C')]

In [5]:
from scipy.special import comb, perm

In [6]:
perm(3, 2) # 有序

6.0

In [7]:
comb(3, 2) # 无序

3.0

In [8]:
comb(n,k)

10.0

In [9]:
n = [5,6,7]

In [10]:
for i in n:
  print(comb(i,3))

10.0
20.0
35.0

In [11]:
# 12台 3台故障, 買5台5台至少2台故障

In [12]:
print(comb(3,2)*comb(9,3)+comb(3,3)*comb(9,2))

288.0

In [13]:
print(comb(3,1)*comb(4,1)*comb(3,1))

36.0

In [14]:
Ts = list([x for x in range(1,6)])
print(Ts)

[1, 2, 3, 4, 5]

In [15]:
tt = []
for i in Ts:
  n = 'TT'+str(i)
  tt.append(n)
print(tt)

['TT1', 'TT2', 'TT3', 'TT4', 'TT5']

In [16]:
Ps = list([x for x in range(1,4)])
print(Ps)

[1, 2, 3]

In [17]:
PP = []
for i in Ps:
  n = 'PP'+str(i)
  PP.append(n)
print(PP)

['PP1', 'PP2', 'PP3']

In [18]:
print(list(permutations(tt,1)))

[('TT1',), ('TT2',), ('TT3',), ('TT4',), ('TT5',)]

In [19]:
def product(*args, repeat=1):
    # product('ABCD', 'xy') --> Ax Ay Bx By Cx Cy Dx Dy
    # product(range(2), repeat=3) --> 000 001 010 011 100 101 110 111
    pools = [tuple(pool) for pool in args] * repeat
    result = [[]]
    for pool in pools:
        result = [x+[y] for x in result for y in pool]
    for prod in result:
        yield tuple(prod)

In [20]:
xx = product(PP,tt)

In [21]:
print(xx)

<generator object product at 0x7f85a59e48d0>

In [22]:
xs = []
for x1,x2 in xx:
   xs.append([x1,x2])
   print(x1,x2)

PP1 TT1
PP1 TT2
PP1 TT3
PP1 TT4
PP1 TT5
PP2 TT1
PP2 TT2
PP2 TT3
PP2 TT4
PP2 TT5
PP3 TT1
PP3 TT2
PP3 TT3
PP3 TT4
PP3 TT5

In [23]:
print(xs)

[['PP1', 'TT1'], ['PP1', 'TT2'], ['PP1', 'TT3'], ['PP1', 'TT4'], ['PP1', 'TT5'], ['PP2', 'TT1'], ['PP2', 'TT2'], ['PP2', 'TT3'], ['PP2', 'TT4'], ['PP2', 'TT5'], ['PP3', 'TT1'], ['PP3', 'TT2'], ['PP3', 'TT3'], ['PP3', 'TT4'], ['PP3', 'TT5']]

In [31]:
import itertools
print(list(itertools.combinations_with_replacement('HT',4)))

[('H', 'H', 'H', 'H'), ('H', 'H', 'H', 'T'), ('H', 'H', 'T', 'T'), ('H', 'T', 'T', 'T'), ('T', 'T', 'T', 'T')]

In [35]:
items = ['H','T']
for i in itertools.combinations_with_replacement(items,4):
    print(i) #排列組合

('H', 'H', 'H', 'H')
('H', 'H', 'H', 'T')
('H', 'H', 'T', 'T')
('H', 'T', 'T', 'T')
('T', 'T', 'T', 'T')

In [37]:
from itertools import permutations
items = ['H','T']
for n in range(3,4):
   for i in range(n+1):
     print()

In [41]:
items = ['0','1']
from itertools import permutations
for i in permutations(items):
    print(i) #排列組合

print(list(itertools.combinations_with_replacement(items,4)))

('0', '1')
('1', '0')
[('0', '0', '0', '0'), ('0', '0', '0', '1'), ('0', '0', '1', '1'), ('0', '1', '1', '1'), ('1', '1', '1', '1')]

In [51]:
from itertools import product
x = list(product('TH','TH','TH'))
for i,d in enumerate(x):
  print('{:2d}: {}'.format(i,d))

 0: ('T', 'T', 'T')
 1: ('T', 'T', 'H')
 2: ('T', 'H', 'T')
 3: ('T', 'H', 'H')
 4: ('H', 'T', 'T')
 5: ('H', 'T', 'H')
 6: ('H', 'H', 'T')
 7: ('H', 'H', 'H')

In [50]:
from itertools import product
x = list(product('TH', 'TH','TH','TH'))
for i,d in enumerate(x):
  print('{:2d}: {}'.format(i,d))

 0: ('T', 'T', 'T', 'T')
 1: ('T', 'T', 'T', 'H')
 2: ('T', 'T', 'H', 'T')
 3: ('T', 'T', 'H', 'H')
 4: ('T', 'H', 'T', 'T')
 5: ('T', 'H', 'T', 'H')
 6: ('T', 'H', 'H', 'T')
 7: ('T', 'H', 'H', 'H')
 8: ('H', 'T', 'T', 'T')
 9: ('H', 'T', 'T', 'H')
10: ('H', 'T', 'H', 'T')
11: ('H', 'T', 'H', 'H')
12: ('H', 'H', 'T', 'T')
13: ('H', 'H', 'T', 'H')
14: ('H', 'H', 'H', 'T')
15: ('H', 'H', 'H', 'H')

In [52]:
from itertools import product
x = list(product('10','10','10','10'))
for i,d in enumerate(x):
  print('{:2d}: {}'.format(i,d))

 0: ('1', '1', '1', '1')
 1: ('1', '1', '1', '0')
 2: ('1', '1', '0', '1')
 3: ('1', '1', '0', '0')
 4: ('1', '0', '1', '1')
 5: ('1', '0', '1', '0')
 6: ('1', '0', '0', '1')
 7: ('1', '0', '0', '0')
 8: ('0', '1', '1', '1')
 9: ('0', '1', '1', '0')
10: ('0', '1', '0', '1')
11: ('0', '1', '0', '0')
12: ('0', '0', '1', '1')
13: ('0', '0', '1', '0')
14: ('0', '0', '0', '1')
15: ('0', '0', '0', '0')